<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CSMD.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CSMD.Properties.Settings>
            <setting name="NETVersion" serializeAs="String">
                <value>v4.0</value>
            </setting>
            <setting name="ExecutablePath" serializeAs="String">
                <value />
            </setting>
            <setting name="DeleteOnExit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RandomName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReferencedAssemblies" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>System.dll</string>
                        <string>System.Core.dll</string>
                        <string>System.Data.dll</string>
                        <string>System.Data.DataSetExtensions.dll</string>
                        <string>System.Deployment.dll</string>
                        <string>System.Drawing.dll</string>
                        <string>System.Windows.Forms.dll</string>
                        <string>System.Xml.dll</string>
                        <string>System.Xml.Linq.dll</string>
                    </ArrayOfString>
                </value>
            </setting>
        </CSMD.Properties.Settings>
    </userSettings>
</configuration>